@import url('https://fonts.cdnfonts.com/css/next-art');

:root {
    --bg-color: #f3efef;
    --blue-Burberry : #0006CF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'NEXT ART', sans-serif;
}

body {
    background: var(--bg-color);
    overflow-x: hidden;
}

.firstSection {
    position: relative;
    text-transform: uppercase;
    color: #000;
    height: 100vh;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.logo_w, .logo_b {
    margin-bottom: 40px;
}

.title_w {
    font-size: 6vw;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    font-weight: 600;
}

.subtitle_w {
    font-size: 2.18vw;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1.6px;
    font-weight: 500;
}

.thirdSection {
    font-family: 'NEXT ART', sans-serif;
    text-transform: uppercase;
    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title_b {
    font-size: 6vw;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: 2px;
    font-weight: 600;
}

.subtitle_b {
    font-size: 2.2vw;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: 1.6px;
    font-weight: 500;
}

.secondSection {
    background: black;
}

.title_Knight {
    position: absolute;
    display: flex;
    justify-content: center;

    font-size: 5vw;
    width: 100%;
    color: white;
}

.fourthSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.left, .center, .right {
    width: 30%;
    text-align: center;
}

.left .logo_w, .center .logo_w, .right .logo_w,
.left .logo_b, .center .logo_b, .right .logo_b {
    width: 35%;
}


.left .title_w, .center .title_w, .right .title_w,
.left .title_b, .center .title_b, .right .title_b {
    font-size: 5vw;
}

.left .subtitle_w, .center .subtitle_w, .right .subtitle_w,
.left .subtitle_b, .center .subtitle_b, .right .subtitle_b {
    font-size: 1.8vw;
}

.fifthSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}







/* LOGO BANNER SLIDE */

.auto_banner img {
    object-fit: contain;
    -webkit-user-drag: none;
}

.auto_banner {
    white-space: nowrap;
    overflow: hidden;
    margin: 15px 5px;
}

.auto_banner::before, .auto_banner::after {
    content: "";
    position: absolute;

    height: 120px;
    width: 75px;    

    z-index: 1000;
}

.auto_banner::before {
    left: -20px;
    background: #f3efef;
    filter: blur(10px);
}

.auto_banner::after {
    right: -20px;
    background: #f3efef;
    filter: blur(10px);
}

/* .auto_banner:hover .logos-slide {
    animation-play-state: paused;
} */

.logos-slide {
    display: inline-block;
    animation: 60s slide infinite linear;
}

.logos-slide img {
    height: 120px;
    margin: 0 70px;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes slideright {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}