@import url("https://fonts.cdnfonts.com/css/next-art");
@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');

/*

font-family: "NEXT ART", sans-serif; 
font-family: "Luxurious Roman", serif;

*/

:root {
  --bg-color: #ebebeb;
  --blue-Burberry: #0006cf;
}

::selection {
  color: var(--blue-Burberry);
  background: yellow;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg-color);
  overflow-x: hidden;
}

/* FIRST SECTION */

.flex-column {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: center;
  padding: 40px 0 10px;
  user-select: none;
}

.navbar-list {
  display: flex;
  justify-content: center;
  padding: 15px 10px 40px;
}

.navbar-link {
  font-family: "NEXT ART", sans-serif;
  font-size: clamp(12px, 1.8vw, 16px);
  padding: 0px 25px;
}

.navbar-link a {
  color: #000;
  transition: .3s;
}

.navbar-link a:hover {
  color: var(--blue-Burberry);
}

.onimage {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.txtonimage {
  position: absolute;
  font-family: "Luxurious Roman", serif;
  font-weight: 500;
  color: #fff;
  font-size: clamp(10px, 4vw, 72px);
}

.i {
  width: 100%;
  padding: 0 20px;
}

.p-tb {
  font-family: "Luxurious Roman", serif;
  font-size: clamp(14px, 3vw, 24px);
  letter-spacing: 1.2px;
  color: #000;
  text-align: center;
  margin: 5% 15%;
}

/* SECOND SECTION */

.fulllllllll {
  display: flex;
  flex-direction: column;
}

.all-cards {
  margin: 0 20px;
  display: flex;
  justify-content: center;
}

.card-img {
  position: relative;
}

.img-card {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-number {
  position: absolute;
  font-family: "Luxurious Roman", serif;
  font-weight: 300;
  font-size: 16px;
  top: 4%;
  left: 7%;
  color: white;
  border-radius: 4px 0 0 0;
}

.txt-card-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 5%;
}

.txt-card-h {
  font-family: "Luxurious Roman", serif;
  height: 100%;
  width: 50%;
  font-size: 42px;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding: 20px 0 0 20px;
}

.txt-card-p {
  font-family: "Luxurious Roman", serif;
  height: 100%;
  width: 50%;
  font-size: 28px;
  padding: 20px 20px 0 0;
  text-align: end;
}

.txt-card-center {
  font-family: "Luxurious Roman", serif;
  font-weight: 500;
  width: 350px;
  margin: 5% auto 3%;
  font-size: 32px;
  text-align: center;
  color: var(--blue-Burberry);
}

.hover-area {
  cursor: none;
  position: relative;
  display: inline-block;
}

/* THIRD SECTION */

.imgSection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  padding: 20px 17px;
  gap: 10px 10px;
}

.imgSection img {
  height: 600px;
  width: 100%;
  padding: 3px;
  object-fit: cover;
  user-select: none;
  -webkit-user-drag: none;
  filter: brightness(.8);
  transition: .5s;
}

.imgSection img:hover {
  filter: brightness(1);
}

.div1 {
  grid-area: 1 / 1 / 2 / 3;
}

.div2 {
  grid-area: 2 / 1 / 3 / 2;
}

.div3 {
  grid-area: 2 / 2 / 3 / 3;
}

.div4 {
  grid-area: 1 / 3 / 2 / 4;
}

.div5 {
  grid-area: 2 / 3 / 3 / 4;
}

/* FOURTH SECTION */

.products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 0px;
  padding: 10px 17px 20px;
}

.products-grid img {
  height: 100%;
  width: 100%;
  padding: 3px;
  object-fit: cover;
  transition: 0.3s;
  cursor: pointer;
  user-select: none;
  -webkit-user-drag: none;
}

.link-container {
  display: grid;
  position: relative;
  color: var(--blue-Burberry);
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
}

.click {
  font-family: "NEXT ART", sans-serif;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.products-grid .bag-black-1:hover,
.products-grid .bag-orange-1:hover,
.products-grid .wallet-black-1:hover,
.products-grid .wallet-orange-1:hover {
  opacity: 0;
}

.bag-black-1,
.bag-black-2 {
  grid-area: 1 / 1 / 2 / 2;
}

.bag-orange-1,
.bag-orange-2 {
  grid-area: 1 / 2 / 2 / 3;
}

.wallet-black-1,
.wallet-black-2 {
  grid-area: 1 / 3 / 2 / 4;
}

.wallet-orange-1,
.wallet-orange-2 {
  grid-area: 1 / 4 / 2 / 5;
}

/* FIFTH SECTION */

.lastParallax {
  background-image: url("./images/equestrianknight.png");
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0 20px;
}

.title_Knight {
  font-family: "NEXT ART", sans-serif;
  position: relative;
  top: 85vh;
  display: flex;
  justify-content: center;
  font-size: 5vw;
  width: 100%;
  color: white;
  mix-blend-mode: difference;
}

.collabs {
  font-family: "Luxurious Roman", serif;
  font-weight: 500;
  text-align: center;
  font-size: clamp(24px, 5vw, 42px);
  text-transform: capitalize;
  margin: 30px 20px 25px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

#cursor-image {
  width: 18%;
  height: 34%;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  z-index: 9999;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out, background-image 0.2s ease-in-out;
  background-size: contain;
}

/* LOGO BANNER SLIDE */

.auto_banner {
  white-space: nowrap;
  overflow: hidden;
  margin: 20px 5px;
  user-select: none;
}

.auto_banner img {
  object-fit: contain;
  -webkit-user-drag: none;
}

.auto_banner::before,
.auto_banner::after {
  content: "";
  position: absolute;
  height: 120px;
  width: 75px;
  z-index: 1000;
}

.auto_banner::before {
  left: -20px;
  background: #f3efef;
  filter: blur(10px);
}

.auto_banner::after {
  right: -20px;
  background: #f3efef;
  filter: blur(10px);
}

/* .auto_banner:hover .logos-slide {
    animation-play-state: paused;
} */

.logos-slide {
  display: inline-block;
  animation: 60s slide infinite linear;
}

.logos-slide img {
  height: 120px;
  margin: 0 70px;
}

/* FOOTER MENU */

.footer-menu {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.column {
  flex: 1 1 250px;
  margin: 10px;
  max-width: 300px;
}

.submenu {
  display: none;
}

.title-footer {
  font-family: "Luxurious Roman", serif;
  font-size: clamp(16px, 4vw, 24px);
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}

.title-footer[aria-expanded="true"]+div .submenu {
  display: block;
}

.title-footer:hover,
.title-footer:active {
  color: var(--blue-Burberry);
}

.submenu a {
  font-size: clamp(14px, 2.5vw, 18px);
  list-style: none;
  font-family: "Luxurious Roman", serif;
  color: black;
}

.submenu a:hover {
  color: var(--blue-Burberry);
}

.submenu {
  padding: 10px 0;
  text-align: center;
}

.submenu li {
  padding: 3px 0;
}

/* LAST SECTION & THANKS */

.end {
  font-family: "Luxurious Roman", serif;
  padding: 3.2rem;
  text-align: center;
  line-height: 24px;
}

.blue-link {
  color: var(--blue-Burberry);
}



/* ANIM BANNER SLIDE */

@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}



/* RESPONSIVE @ MEDIA QUERIES */

/* TABLET */

@media screen and (max-width: 1024px) {

  #cursor-image {
    display: none;
  }

  .hover-area {
    cursor: auto;
  }

  .txt-card-img {
    flex-direction: column;
    margin: 5% 20px 0;
  }

  .all-cards {
    flex-wrap: wrap;
  }

  .card-img {
    width: 50%;
  }

  .txt-card-h {
    justify-content: center;
    text-align: center;
    padding: 20px 0;
    font-size: 32px;
    width: 100%;
  }

  .txt-card-p {
    padding: 0;
    text-align: center;
    font-size: 24px;
    width: 100%;
  }

  .txt-card-center {
    margin: 5% auto 5%;
  }

  .products-grid {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 10px;
    grid-column-gap: 0;
  }

  .products-grid img {
    padding: 10px;
  }

  .click {
    bottom: 30px;
    left: 30px;
  }
}



/* MOBILE */

@media screen and (max-width: 768px) {

  .line {
    border: 1px solid black;
    width: 120px;
    margin: 20px auto 8px
  }

  .navbar-list {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
  }

  .navbar-link {
    width: 50%;
    padding: 10px 15px;
    font-size: 14px;
  }

  .navbar-link:nth-child(1),
  .navbar-link:nth-child(2),
  .navbar-link:nth-child(3) {
    width: 33%;
  }

  .txtonimage {
    font-size: clamp(20px, 4vw, 72px);
  }

  .i {
    padding: 0 5px;
  }

  .p-tb {
    margin: 5% 5px;
  }

  .all-cards {
    margin: 0 4px 4px;
  }

  .txt-card-img {
    margin: 5% 5px 0;
  }

  .img-card {
    padding: 1px;
  }

  .txt-card-center {
    font-size: 24px;
    width: 270px;
  }

  .imgSection {
    padding: 5px;
    gap: 5px;
  }

  .imgSection img {
    height: 400px;
    padding: 0;
  }

  .products-grid {
    padding: 2px;
  }

  .products-grid img {
    padding: 3px;
  }

  .click {
    bottom: 12px;
    left: 12px;
  }

  .lastParallax {
    margin: 5px;
    height: 55vw;
    background-size: cover;
    background-attachment: unset;
  }

  .title_Knight {
    top: 75%;
    font-size: 7vw;
    text-align: center;
  }

  .collabs {
    margin: 30px 5px 25px;
  }

  .auto_banner::before,
  .auto_banner::after {
    height: 100px;
    width: 20px;
    filter: blur(2px);
  }

  .auto_banner::before {
    left: 0px;
  }

  .auto_banner::after {
    right: 0px;
  }

  .logos-slide img {
    height: 100px;
    margin: 0 30px;
  }

  .footer-menu {
    padding: 0 5px;
    margin: 0;
  }

  .end {
    padding: 45px 15px 35px;
  }
}